* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proppins', sans-serif;
  outline: none;
  border: none;
  
}

img {
    border-radius: 20%;
    height: 10%;
    width: 10%;
}

body {

  font-weight: 400;
  font-size: 35px;
  color: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(10, 23, 19);
  background-size: cover;
  min-height: 100vh;
}



.container {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  line-height: 27px;
  font-weight: 400;
  font-size: 32px;
  color: rgb(236, 236, 236);
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  color: rgb(236, 236, 236);
  font-weight: 700;
}

button {

  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;

}

.buttons {
  margin: 30px 0;
  display: flex;
  gap: 40px;
}

#rock {
  background-color: #A200FF;
}

#paper {
  background-color: #9ee01a;
}

#scissors {
  background-color: #7dbeed;
}

button:hover {
  opacity: 0.7;
}

p {
  font-weight: 700;
  font-size: 25px;
  color: rgb(236, 236, 236);
  font-weight: bold;
  margin-bottom: 10px;
}

.your-score span {
  color: rgb(55, 255, 0);
}

.machine-score span {
  color: red;
}